{% extends "base.html" %}
{% block dependencies %}
{{ super() }}

<!-- Dependencies for the piechart -->
<script src = "https://cdn.jsdelivr.net/npm/chart.js"> </script>

<!-- CSS for this page -->
<link rel = "stylesheet" style = "text/css" href = "{{ url_for('static', filename = 'css/features.css') }}">
{% endblock %}

{% block content %}
<div class = "grid-container">
    <br>
    <div class = 'text-center'>
        <br>
        <h1> Database Features </h1>
        <br>
        <p> Learn more about PlantConnectome and its novel utilities </p>
        <br>
    </div>
    <hr>
    <h2> Composition of PlantConnectome </h2>
    <br>
    <div class = 'grid-x grid-margin-x'>
        <div class = 'cell medium-6'>
            PlantConnectome was contructed by surveying numerous sources, shown in the pie chart to the right, with GPT. 
            <br> <br>
            Unifying more than <strong>100,000</strong> plant studies, PlantConnectome can be used to study genes, metabolites, tissues and other biological entities, illuminating over <strong>350,000</strong> relationships altogether. 
        </div>
        <div class = 'cell medium-6'>
            <canvas id = "piechart" width = '550' height = '200'> </canvas>
            <script> {{ piechart_code | safe }} </script>
        </div>
    </div>
    <br>
    <hr>
    <div class = 'text-center'>
        <h2> Searching PlantConnectome </h2>
        <p> PlantConnectome offers 5 search options: </p>
        <br>
    </div>
    <div class = 'grid-x grid-margin-x medium-up-3'>
        <div class = 'cell'>
            <div class = 'card'>
                <div class = 'card-divider'>
                    <strong> Term Searches </strong>
                </div>
                <div class = 'card-section'>
                    <p>
                        Search for entities using a specific keyword or phrase with this option. Users can also search for 
                        aliases, exact matches, sub-strings, and non-alphanumeric results.
                    </p>
                </div>
            </div>
        </div>
        <div class = 'cell'>
            <div class = 'card'>
                <div class = 'card-divider'>
                    <strong> Author Search </strong>
                </div>
                <div class = 'card-section'>
                    <p>
                        Search for entities using author names.
                    </p>
                </div>            
            </div>
        </div>
        <div class = 'cell'>
            <div class = 'card'>
                <div class = 'card-divider'>
                    <strong> Pubmed ID Search </strong>
                </div>
                <div class = 'card-section'>
                    Search for entities using Pubmed IDs.
                </div>            
            </div>
        </div>
    </div>
    <br>
    <hr>
    <div class = 'text-center'>
        <h2> Search Results </h2>
        <p> All search results with hits in PlantConnectome will return three items: </p>
        <br>
    </div>
    <div class = 'grid-x grid-margin-x medium-up-3'>
        <div class = 'cell'>
            <div class = 'card'>
                <div class = 'card-divider'>
                    <strong> Entity Relationship Graph </strong>
                </div>
                <img src = '../static/Capture.PNG' alt = "A sample entity-relationship graph">
                <div class = 'card-section'>
                    <p>
                        Search for entities using a specific keyword or phrase with this option. Users can also search for 
                        aliases, exact matches, sub-strings, and non-alphanumeric results.
                    </p>
                </div>
            </div>
        </div>
        <div class = 'cell'>
            <div class = 'card'>
                <div class = 'card-divider'>
                    <strong> Text Summary </strong>
                </div>
                <img src = '../static/text-summary.png' alt = "Text-summary of search results">
                <div class = 'card-section'>
                    <p>
                        Search for entities using author names.
                    </p>
                </div>            
            </div>
        </div>
        <div class = 'cell'>
            <div class = 'card'>
                <div class = 'card-divider'>
                    <strong> Entity Relationship Table </strong>
                </div>
                <img src = '../static/table.png' alt = "A sample entity-relationship graph">
                <div class = 'card-section'>
                    Search for entities using Pubmed IDs.
                </div>            
            </div>
        </div>
    </div>
</div>
{% endblock %}