{% extends "base.html" %}
{% block dependencies %}
{{ super() }}

<!-- Dependencies for the piechart -->
<script src = "https://cdn.jsdelivr.net/npm/chart.js"> </script>

<!-- CSS for this page -->
<link rel = "stylesheet" style = "text/css" href = "{{ url_for('static', filename = 'css/features.css') }}">
{% endblock %}

{% block content %}
<div class = "grid-container fluid">
    <br>
    <h2> Features of our Database </h2>
    <br>
    <p> This page list several features that PlantConnectome has. </p>
    <hr>
    <h3> Processed Papers and Abstracts </h3>
    <canvas id = "piechart" style = "width: 50%; height: 50%;"> </canvas>
    <script> {{ piechart_code | safe }} </script>
    <br>
    <p> We have surveyed numerous sources to construct our database. </p>
    <hr>
    <h3> Future Suggestions </h3>
    <p> Have any feedback?  Feel free to reach out to us! </p>
</div>
{% endblock %}