{% extends "base.html" %}
{% block dependencies %}
{{ super() }}

<!-- Including JavaScript code for the help page -->
<script src = "{{ url_for('static', filename = 'js/help_page.js') }} " defer> </script>
<link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename = 'css/help_page.css') }}">
{% endblock %}

{% block content %}
<div class = "grid-container fluid">
  <br>
  <h2> Help / FAQs </h2>
  <br>
  <p> This page list questions that users may have regarding our database. </p>
  <hr>

  <!-- Questions as accordions -->
  <ul class = "accordion" data-accordion data-allow-all-closed = 'true'>
    <li class = "accordion-item" data-accordion-item>
      <a class = "accordion-title"> How was the database constructed?  </a>
      <div class = "accordion-content" data-tab-content>
        <p>
          We used GPT to look at paper abstracts and identify pairs of entities (e.g., genes, molecules, 
          compartments, basically anything) that 'act' on one another (e.g., enhances, interacts, affects, 
          localizes to).
          <br> <br>
          For instance, given the following abstract:
          <blockquote>
            In plants, regulation of cellulose synthesis is fundamental for morphogenesis and plant growth. 
            Cellulose is synthesized at the plasma membrane, and the orientation of synthesis is guided by cortical 
            microtubules; however, the guiding mechanism is currently unknown. We show that the conditional root elongation 
            pom2 mutants are impaired in cell elongation, fertility, and microtubule-related functions. Map-based cloning of 
            the POM-POM2 locus revealed that it is allelic to CELLULOSE SYNTHASE INTERACTING1 (CSI1). Fluorescently tagged 
            POM2/CSI1s associated with both plasma membrane-located cellulose synthases (CESAs) and post-Golgi CESA-containing 
            compartments. Interestingly, while CESA insertions coincided with cortical microtubules in the pom2/csi1 mutants, 
            the microtubule-defined movement of the CESAs was significantly reduced in the mutant. We propose that POM2/CSI1 provides 
            a scaffold between the CESAs and cortical microtubules that guide cellulose synthesis.
          </blockquote>
          GPT would return the following statements:
          <br> <br>
          <ol>
            <li> Cellulose: !synthesized at! Plasma Membrane </li>
            <li> Cortical Microtubules: !guide! Cellulose Synthesis </li>
            <li> POM2/CSI1: !associates with! CESAs </li>
            <li> POM2/CSI1: !provides scaffold between! CESAs and Cortical Microtubules </li>
          </ol>
        </p>
      </div>
    </li>
    <li class = "accordion-item" data-accordion-item>
      <a class = "accordion-title"> How can I search the database?  </a>
      <div class = "accordion-content" data-tab-content>
        <p>
          We only based our database off processed abstracts, so gene identifiers (e.g., AT4G32410) may not be understood by GPT.  Instead, you should aim to 
          use gene symbols (e.g., CESA1) as these are used in paper abstracts.
          <br> <br>
          You can also choose to search for terms mentioned in the abstracts - for instance, "proline", "cold", "root hair", and so on.
          <br> <br>
          You can also choose to search for an author's name or a Pubmed ID.
        </p>
      </div>
    </li>
    <li class = "accordion-item" data-accordion-item>
      <a class = "accordion-title"> Which papers were analyzed?  </a>
      <div class = "accordion-content" data-tab-content>
        <p>
          We selected our journals by analyzing genes with experimentally verified functions (e.g., TAIR).  Doing so allowed us to shortlist journals that 
          typically contain functional information of plant genes.
        </p>
        <img src = "{{ url_for('static', filename = 'journals.png') }}" style = "max-width: 50%;" alt = "My Image">
        <br> <br>
        <p>
          For journals that aren't plant-specific (e.g., PNAS, Cell, etc.), we only processed papers that discussed plants.  Additionally, our database 
          only includes papers that were published after 2004.
        </p>
      </div>
    </li>
    <li class = "accordion-item" data-accordion-item>
      <a class = "accordion-title"> How do I use the KnowledgeNetwork viewer?  </a>
      <div class = "accordion-content" data-tab-content>
        <p>
          The said KnowledgeNetwork viewer will display a handful of relationships found between your search query and the entities detected by GPT.  If you want to narrow
          down your search options, click on the "Layout Options" button:
        </p>
        <img src="{{ url_for('static', filename='layoutoptions.png') }}" style="max-width: 50%;" alt="My Image">
        <br> <br>
        <p>
          You can also choose to click on or double click on nodes to make unwanted nodes more transparent or to remove them.  You can restore nodes by clicking on 
          the background.  Right-clicking also removes clicked nodes.
        </p>
        <img src="{{ url_for('static', filename='networkmethods.png') }}" style="max-width: 50%;" alt="My Image">
      </div>
    </li>
    <li class = "accordion-item" data-accordion-item>
      <a class = "accordion-title"> Can I see the paper abstracts where a relationship was mentioned?  </a>
      <div class = "accordion-content" data-tab-content>
        <p>
          Yes.  Below the KnowledgeNetwork viewer, there is a table showcasing the network's nodes and edges.  Clicking on the Pubmed ID will reveal the 
          abstract and display the entities that were found from the abstract:
        </p>
        <img class = 'align-center' src="{{ url_for('static', filename='abstractanalysis.png') }}" style="max-width: 50%;" alt="My Image"> 
      </div>
    </li>
    <li class = "accordion-item" data-accordion-item>
      <a class = "accordion-title"> How accurate is GPT in extracting information from paper abstracts?  </a>
      <div class = "accordion-content" data-tab-content>
        <p>
          GPT is not completely accurate: some of its results are erroneous and it may also not detect some relationships.  Hence, if you find an 
          interesting relationship, you should check the appropriate abstract to confirm that GPT did not make a mistake!
          <br> <br>
          We are also currently benchmarking the inferences, so do stay put!
        </p>
      </div>
    </li>
  </ul>
</div>
{% endblock %}