{% extends "base.html" %}
{% block dependencies %}
{{ super() }}

<!-- Including JavaScript code for the help page -->
<script src = "{{ url_for('static', filename = 'js/help_page.js') }} " defer> </script>
<link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename = 'css/help_page.css') }}">
{% endblock %}

{% block content %}
<div class = "grid-container fluid">
  <br>
  <h2> Help / FAQs </h2>
  <br>
  <p> General Questions & Answers </p>
  <hr>

  <style>
    .accordion-title{
      font-size:1rem;
    }
  </style>

  <!-- Questions as accordions -->
  <ul class = "accordion" data-accordion data-allow-all-closed = 'true'>
    <li class = "accordion-item" data-accordion-item>
      <a class = "accordion-title"> How was the database constructed?  </a>
      <div class = "accordion-content" data-tab-content>
        <p>
          We used GPT to evaluate research abstracts and identify pairs of entities (e.g., genes, proteins, molecules, 
          compartments, complexes) in addition to their unique interaction type (e.g., enhances, binds, affects, represses).
          <br> <br>
          For instance, after examining the abstract
          <blockquote>
            "In plants, regulation of cellulose synthesis is fundamental for morphogenesis and plant growth. 
            Cellulose is synthesized at the plasma membrane, and the orientation of synthesis is guided by cortical 
            microtubules; however, the guiding mechanism is currently unknown. We show that the conditional root elongation 
            pom2 mutants are impaired in cell elongation, fertility, and microtubule-related functions. Map-based cloning of 
            the POM-POM2 locus revealed that it is allelic to CELLULOSE SYNTHASE INTERACTING1 (CSI1). Fluorescently tagged 
            POM2/CSI1s associated with both plasma membrane-located cellulose synthases (CESAs) and post-Golgi CESA-containing 
            compartments. Interestingly, while CESA insertions coincided with cortical microtubules in the pom2/csi1 mutants, 
            the microtubule-defined movement of the CESAs was significantly reduced in the mutant. We propose that POM2/CSI1 provides 
            a scaffold between the CESAs and cortical microtubules that guide cellulose synthesis."
          </blockquote>
          GPT returned the following statements:
          <ol>
            <li> Cellulose: !synthesized at! Plasma Membrane </li>
            <li> Cortical Microtubules: !guide! Cellulose Synthesis </li>
            <li> POM2/CSI1: !associates with! CESAs </li>
            <li> POM2/CSI1: !provides scaffold between! CESAs and Cortical Microtubules </li>
          </ol>
        </p>
      </div>
    </li>
    <li class = "accordion-item" data-accordion-item>
      <a class = "accordion-title"> How can I search the database?  </a>
      <div class = "accordion-content" data-tab-content>
        <p>
          Because PlantConnectome is built from processed abstracts, gene identifiers such as AT4G32410 may not be interpretable by GPT. Instead, search with
          gene symbols (e.g., CESA1), as these are used in the literature.
          <br> <br>
          You can also choose to search for <strong>terms</strong> mentioned in the abstracts (for instance, "proline", "cold", "root hair", etc.), <strong>author names</strong>, or <strong>PubMed IDs</strong>.
        </p>
      </div>
    </li>
    <li class = "accordion-item" data-accordion-item>
      <a class = "accordion-title"> Which papers were analyzed?  </a>
      <div class = "accordion-content" data-tab-content>
        <p>
          To ensure PlantConnectome reflects state-of-the-art knowledge, all research papers from which it derives were published <strong>after 2004</strong>. All articles from plant journals were downloaded, whereas non-plant-specific journals (e.g., PNAS, Cell, etc.) were harvested only for their publications examining plants.
        </p>
        <img src = "{{ url_for('static', filename = 'article.png') }}" style = "max-width: 50%;" alt = "My Image">
      </div>
    </li>
    <li class = "accordion-item" data-accordion-item>
      <a class = "accordion-title"> How do I use the KnowledgeNetwork viewer?  </a>

      <style>
        .image-container {
          display: flex;
          flex-direction: column;
          text-align: center;
          margin: 1rem;
        }
        
        .image-container img {
          display: block;
          align-items: center;
          width: 50%;
        }
        
        .image-container p {
          margin-top: 10px; 
        }
      </style>
      
      <div class = "accordion-content" data-tab-content>
      <div class = "image-container">

        <div>
        <p>
          Our KnowledgeNetwork viewer displays a plethora of relationships found between your search query and GPT-detected entities. Should you want to narrow your search options, click on the "Layout Options" button:
        </p>
        <img src="../static/First_GIF.gif" alt="First_GIF">
        </div>
        <br>
        <div>
        <p>
          Then, select your edges of interest and click "Recalculate Layout":
        </p>
        <img src="../static/Second_GIF.gif" alt="Second_GIF">
        </div>
        <br>
        <div>
        <p>
          To learn more about a specific node, click on it:
        </p>
        <img src="../static/Node_info.gif" alt="Third_GIF">
        </div>
        <br>
        <div>
        <p>
          Users also have the option of personally modifying networks. For example, among the list of possible actions when clicking a node is removing it. Clicking once on the background will restore node opacity, while clicking twice will reincorporate the removed node. 
        </p>
        <img src="../static/Remove_node.gif" alt="Fourth_GIF">
        </div>
        <br>
        <div>
          To isolate a neighborhood of entities, select your node of interest and click "Isolate Neighborhood." Double-clicking on the background will restore the full, original network. 
        </p>
        <img src="../static/Neighbourhood.GIF" alt="Fifth_GIF">
        </div>
          
      </div>
      </div>
    </li>
    <li class = "accordion-item" data-accordion-item>
      <a class = "accordion-title"> How can I access the research abstracts from which relationships were identified? </a>
      <div class = "accordion-content" data-tab-content>
        <p>
          Below the KnowledgeNetwork viewer is a table showcasing the network's nodes and edges. Clicking on the Pubmed ID will display both the 
          research abstract and entities identified from it:
        </p>
        <img class = 'align-center' src="{{ url_for('static', filename='abstractanalysis.png') }}" style="max-width: 50%;" alt="My Image"> 
      </div>
    </li>
    <li class = "accordion-item" data-accordion-item>

  <a class = "accordion-title"> How accurate is GPT in extracting information from the literature?  </a>
  <div class = "accordion-content" data-tab-content>
    <style>
      .image-cont {
        text-align: center;
        display: inline-block;
      }

      .image-cont img {
          display: block;
          align-items: center;
          width: 50%;
        }
        

        .image-caption{
            font-size: 0.75rem;
            color:grey;
        }
    
    </style>

<div class="image-cont">

  <div>
    <p>
      As with any AI model, GPT is not 100% accurate, generating results that may be erroneous or incomplete. Accordingly, relationships of interest warrant confirmation with the appropriate abstract. To estimate the accuracy rate, we sampled and manually inspected 50 articles,
      the results of which are summarized by the following 3 charts:
    </p>
  </div>

  <div>
    <img src="../static/chart.png" alt="first_chart">
    <p class="image-caption"> Distribution of correct, incorrect, and missing statements detected by GPT. </p>
  </div>

  <div>
    <img src="../static/chart2.png" alt="second_chart">
    <p class="image-caption"> Total number of correct, incorrect, and missing statements extracted from the 50 articles. </p>
  </div>

  </div>
</div>
        
    </li>
  </ul>
</div>
{% endblock %}
