{% extends "base.html" %}

{% block dependencies %}
{{ super() }}
<script src = "{{ url_for('static', filename = 'js/index.js') }}" defer> </script>
{% endblock %}

<!-- Discord link: https://discord.gg/qr8tYYHu7Y -->

{% block content %}
<div class="callout large">
  <div class = "row column text-center">
      <h1> PlantConnectome </h1>
      <p> by the <a href = "https://www.plant.tools/" target = "_blank"> Mutwil Lab </a> </p>
      <p class = "lead"> 
          We used GPT to uncover relationships between genes, molecules, compartments, stresses, organs, and other entities in plants.  
          <br>
          We analyzed <strong> {{ papers }} </strong> papers using GPT and identified <strong> {{ entities }} </strong> entities. 
      </p>
      <p class = 'lead'> Scroll down or hit one of the below buttons to get started!  You may also join our Discord server by <br> clicking on the "Join our Discord" button below!</p>
      <a href = "/help" class = "button large"> Help </a>
      <a href = "/features" class = "button large hollow"> Features </a>
      <a href = "https://discord.gg/qr8tYYHu7Y" class = 'button large' target = "_blank"> Join our Discord </a>
  </div>
</div>

<div class = "grid-container">
  <div class = "grid-x grid-margin-x">
    <div class = "medium-6 cell small-order-1 medium-order-1">
      <h3> Search by... </h3>
      <form action = '/normal' method = 'POST' id = 'gene-form'>
        <label>
          ...gene, molecule, compartment, stress, cell type, organ, or any other related term.
          <input type = "text" placeholder = "e.g., CESA (hit 'Enter' to search)" aria-describedby = "searchfield1" id = "gene_id" name = 'gene_id'>
          <div class = "button-group">
            <input type = "Submit" class = 'button' value = "Word">
            <input type = "Submit" class = 'button' formaction = '/exact' value = "Exact">
            <input type = "Submit" class = 'button' formaction = '/alias' value = "Alias">
            <input type = "Submit" class = 'button' formaction = '/substring' value = "Substring">
            <input type = "Submit" class = 'button' formaction = '/non_alpha' value = "Non-alphanumeric">
          </div>
        </label>
      </form>
      <form action = '/author', method = 'POST' id = 'name-form'>
        <label>
            ...author name (without special characters - for instance, accents).
            <input type = "text" placeholder = "e.g., Marek Mutwil (hit 'Enter' to search)" aria-describedby = "searchfield2" id = 'author' name = 'author'>
            <input type = "Submit" class = 'button' value = "Search!">
        </label>
      </form>
      <form action = '/title', method = 'POST' id = 'title-form'>
        <label>
          ...by paper Pubmed ID (separated by commas).
          <input type = "text" placeholder = "e.g., 26503768 (hit 'Enter' to search)" aria-describedby = "searchfield3" id = 'title' name = 'title'>
        </label>
        <input type = "Submit" class = 'button' value = "Search!">
      </form>
    </div>
    <div class = 'medium-6 cell medium-order-2 '>
      <h4> Search instructions <small> (click on a button to know more) </small> </h4>
      <div class = 'button-group hollow'>
        <div class = 'button'> Word </div>
        <div class = 'button'> Exact </div>
        <div class = 'button'> Alias </div>
        <div class = 'button'> Substring </div>
        <div class = 'button'> Non-alphanumeric </div>
      </div>
      <div class = 'text-left' id = 'help-text'>
        Click one of the above buttons to find out more about each search function!
      </div>
      <hr>
      <!--
      <h3> Instructions for searching </h3>
      <ol>
        <li> Use "?" for a matching word (e.g., heat?) </li>
        <li> Use "!" for an exact match (e.g., pin1!) </li>
        <li> Use "&" for matching and related words </li>
        <li> Use "@" for matching gene and genes with shared aliases </li>
      </ol>
      -->
      <h4> Some searching tips: </h4>
      <ol>
        <li> The search engine is rather simple (at least for now), so a 100% match is required. </li>
        <li> Consider using partial search terms to broaden your results (e.g., "CESA" as opposed to "CESA1"). </li>
      </ol>
    </div>
  </div>
</div>
{% endblock %}